body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  background-color:rgb(68, 170, 238);

}

.main_div {
  display: flex;
  justify-content: center;
  
}

.center_div {
  margin-top: 50px;
 background-color: aliceblue;
 min-height: 400px;
 width: 300px;
 align-items: center;
border-radius: .9rem;
box-shadow: 5px 5px 25px -5px black;
}

.head {
  color: aliceblue;
  text-align: center;
  background-color: blueviolet;
  height: 50px;

}

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  text-align: center;
  font-size:medium;
  width: 50%;
  margin-bottom: 20px;
  margin-left: 30px;
}
input:focus{
  border:none;
  outline: 0px solid royalblue;
  border-bottom:  1px solid #000000;
}

/* .down {
  margin-left: 20px;
} */

button {
font-size: xx-large;
width: 50px;
height: 50px;
border-radius: 50%;
background-color: blueviolet;
margin-left: 30px;
color:   aliceblue;
border: none;
}
button:hover {
  background-color: green;
}
li {
  margin-bottom: 20px;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.todo_style .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
justify-content: center;
align-items: center;
background-color: #8566aa;
border-radius: 50%;
margin: 0 15px 0 35px;
color: aliceblue;
box-shadow: 5px 5px 15px -5px rgb(0, 0, 0, 0.3);

}

.fa-times:hover {
  background-color: red;
}


@media (max-width: 768px) {
  .center_div {
    width: 90%;
  }
}
